=content_for :title do
	Nowa galeria
	
=content_for :content do
	=form_for @gallery, :html => {:multipart => true}do |f|
		%br= f.label :name, "Nazwa"
		= f.text_field :name
	
		%br= f.label :description, "Opis"
		= f.text_field :description
		
		%br=f.label :picassa_address, "Link do galerii Picassa"
		= f.text_field :picassa_address
	
		%br= f.label :image, "Ikona galerii"
		= f.file_field :image
	
		%br= f.submit "Uaktualnij", :disable_with => 'Tworzenie...'